---
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- CSS -->
		<!-- Font Icons css -->
		<link rel="stylesheet" href="css/font-icons.css">
		<!-- plugins css -->
		<link rel="stylesheet" href="css/plugins.css">
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="css/style.css">
		<!-- Responsive css -->
		<link rel="stylesheet" href="css/responsive.css">

		<link rel="stylesheet" href="css/flex.css">
	</head>
	<body>
<Navbar/>
		<slot />
		<script is:inline src="/js/plugins.js"></script>
		<!-- Main JS -->
		<script is:inline src="/js/main.js"></script>
	  
	</body>
</html>


